@font-face{ 
    font-family: 'FagoCo-Black';
    src: url('../fonts/FagoCo-Black_16729.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

html, body{
    color: #262626;
}

.instructions-container, .thank-you-container{
    background-color:#4fc1b1;
}

h1 {
    font-family: 'FagoCo-Black','Open Sans', sans-serif;

}

h4, p, label {
    font-family: 'Open Sans', sans-serif;
}

form label {
    font-weight:bold;
}

.radio-label{
    font-weight:normal;
}

form{
    background-color: #cbe9e3;
    border-radius: 10px;
}

.validation-error{
    color: red;
}

.btn, .modal-header{
    background-color: #4fc1b1;
    color: white;
}
